$font-main: roboto-bold-italic, Arial, sans-serif;
$font1: montserrat-bold, Arial, sans-serif;
$font2: montserrat-regular, Arial, sans-serif;
$font3: roboto-regular, Arial, sans-serif;
$font4: roboto-light, Arial, sans-serif;
$font-size1: 20px;
$font-size2: 14px;
$font-size3: 55px;
$font-size4: 52px;
$font-size5: 24px;
$font-size6: 22px;
$font-size7: 18px;
$font-size8: 10px;
$font-size9: 16px;
$font-size10: 30px;
$background-header:  url("../img/header_bg.png") no-repeat center #fff;
$color1: #FFF;
$color2: #FF4E50;
$color3: #333;
$color4: #AF978C;
$color5: #CCC;
$color6: #ff4e50;
$color7: #666;
$color8: #999;
$color9: #eee;
$menu-item-padding: 8px 16px 8px 17px;
$section-margin: 100px 0 0 0;
$carousel-title-margin: 0 0 35px 0;
$partner-width: 225px;
$partner-margin: 20px 0;
$sprite-size: 40px;
$sprite-top: 80px;
$sprite-left: 144px;
$partners-button-width: 190px;
$picture-margin: 100px 0 70px 0;
$picture-padding: 0 0 100px 0;
