$font-main: roboto-bold-italic, Arial, sans-serif;
$font1: montserrat-bold, Arial, sans-serif;
$font2: montserrat-regular, Arial, sans-serif;
$font3: roboto-regular, Arial, sans-serif;
$font4: roboto-light, Arial, sans-serif;
$font-size1: 13px;
$font-size2: 14px;
$font-size3: 34px;
$font-size4: 52px;
$font-size5: 26px;
$font-size6: 20px;
$font-size7: 18px;
$font-size8: 10px;
$font-size9: 16px;
$font-size10: 30px;
$font-size11: 12px;
$color1: #FFF;
$color2: #f0f1f6;
$color3: #3eade2;
$color4: #5fbfed;
$color5: #747688;
$color6: #c6c7cd;
$color7: #b8b8bd;
$color8: #181616;
$color9: #cb944c;
$color10: #2b3056;
$color11: #171717;
$color12: #dddfdf;
