body {
    background-color: #f9f9f9;
    font-family: 'Open Sans Regular', sans-serif;
}

#wrapper {
    background-color: white;
    width: 1060px;
    margin: 0 auto;
    box-shadow: 0 0 5px #dbdbdb

}

#header {
    overflow: hidden;
    width: 966px;
    margin: 0 auto;
    font-size: 14.67px;
}

.logo {
    width: 145px;
    height: 40px;
    margin-top: 50px;
}

.menu {
    width: 966px;
    height: 40px;
    margin-top: 40px;
    background-image: -moz-linear-gradient( bottom, #444343 0%, #5e5e5e 100%);
    background-image: -webkit-linear-gradient( bottom, #444343 0%, #5e5e5e 100%);
    background-image: -ms-linear-gradient( bottom, #444343 0%, #5e5e5e 100%);

}

.menu ul {
    width: 966px;
    height: 40px;
}

.menu ul li {
    float: left;
    margin-right: 40px;
    line-height: 2.8;
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
}

.menu ul li a {
    display: inline-block;
    height: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.001);
    border-right: 1px solid rgba(255, 255, 255, 0.001);
    padding-left: 24px;
    padding-right: 24px;
    color: white;
}

.menu ul li a:hover {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background-image: -webkit-linear-gradient(bottom, #2e2e2e 0%, #4a4a4a 100%);
    background-image: -o-linear-gradient(bottom, #2e2e2e 0%, #4a4a4a 100%);
    background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
}

a {
    text-decoration: none;
}

#container {
    overflow: hidden;
    width: 966px;
    margin: 0 auto;
    font-size: 13.33px;
}

.sidebar {
    float: left;
    width: 240px;
    height: 240px;
    border: 1px solid #c8c8c8;
    margin-top: 40px;
    line-height: 2.8;
    text-align: left;
}

.sidebar ul li {
    overflow: hidden;
    border-bottom: 1px solid #c8c8c8;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    display: inline-block;
    width: 216px;
    height: 39.6px;
    padding-left: 24px;
    color: #656363;
    background-color: white;
}

.sidebar ul li a:hover {
    display: inline-block;
    width: 203px;
    height: 39.6px;
    padding-left: 37px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}

.content {
    width: 678px;
    margin-top: 40px;
    margin-left: 288px;
}

.frame {
    height: 400px;
    border: 1px solid #c8c8c8;
}

.content img {
    margin-top: 47px;
    margin-left: 89px;
}

.content p {
    width: 598px;
    padding-left: 24px;
    margin-top: 39px;
    line-height: 1.6;
}

#footer {
    overflow: hidden;
    width: 966px;
    margin: 0 auto;
    font-size: 13.33px;
}

#footer ul {
    width: 966px;
    height: 40px;
    padding-left: 24px;
    padding-top: 15px;
    margin-top: 58px;
    margin-bottom: 60px;
    background-color: #e1e1e1;
}

#footer ul li {
    float: left;
    line-height: 2.2;
}

#footer ul li a {
    margin-right: 96px;
    color: black;
}

#footer ul li a:hover {
	  text-decoration: underline;
}

#footer ul li p {
    padding-right: 24px;
    margin-left: 179px;
}
